
.bg_board {
    margin-top: 50px;
    margin-left: 370px;
    position: fixed;
    width: 800px;
    height: 650px;
    background: lightblue;
    border: 3px solid black;

}
#score-label {
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
}
#lives-label {
    position: absolute;
    margin-top: 80px;
    margin-left: 600px;
}

.carousel {
    margin-top:150px;
    margin-left:200px;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: lightgreen;
    border: 1px solid gray;
}

#carousel div , #finish_seat , #start_seat {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: blue;
}

#seat1{
    left:20px;
    top:170px;
}
#seat2{
    left:65px;
    bottom:65px;
}
#seat3{
    left:170px;
    bottom:20px;
}
#seat4{
    right:65px;
    bottom:65px;
}
#seat5{
    right:20px;
    top:170px;
}
#seat6{
    right:65px;
    top:65px;
}
#seat7{
    left:170px;
    top:20px;
}
#seat8{
    left:65px;
    top:65px;
}
#start_seat{
    left:125px;
    top:300px;
}

#finish_seat{
    left:610px;
    top:300px;
}
.start-label {
    position: absolute;
    margin-top: 370px;
    margin-left: 125px;
}
.finish-label {
    position: absolute;
    margin-top: 370px;
    margin-left: 610px;
}
.jump-button {
    margin-top:570px;
    margin-left:350px;
    width: 100px;
    height: 50px;
    position: absolute;
}

.occupied_seat {
    background: blue url("smily-yellow.png") no-repeat 4px 4px;
}
.player_seat {
    background: blue url("smiley-red.png") no-repeat 4px 4px;

}